.ClaimButton {
	width: 100%;
	color: white;
	font-weight: bold;
	padding: 15px;
	background-color: lightsalmon;
	border-color: transparent;
}

.ClaimButton:hover {
	background-color: rgb(255, 100, 100);
}

.ClaimButton:active {
	background-color: rgb(255, 80, 80);
}
