#topnavbar-container {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
}

#topnavbar-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

#topnavbar-center {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 75px;
}

#topnavbar-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

#navButton {
	color: black;
	height: 75px;
	width: 75px;
	border-radius: 100%;
}

#logo {
	font-weight: normal;
	letter-spacing: 0.1em;
	text-align: center;
	color: black;
}
