.txtCardB {
	margin: auto;
	padding: 2.5em;
}

.txtCardB h1 {
	font-family: 'Bebas Neue';
}

.txtCardB ul {
	padding: 0;
	list-style: none;
}
.txtCardB li {
	padding: 5px;
}
.txtCardB li:before {
	content: '✓ ';
}
